.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-flow: dense;
    gap: .5rem;
}

.image-big{
    grid-row: auto / span 2;
    grid-column: auto / span 2;
}

.image-container{

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}