*{ 
    margin: 0;
    padding: 0; /* to remove default margin and padding in any browser */
    border: border-box; /* To remove the default or any borders */
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(big-desktop){
        font-size: 75%;
    }
    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(mobile){
        font-size: 37.5%;
    }
}

body{
    box-sizing: border-box;
    padding: 30px;

    @include respond(tab-port){
        padding: 0;
    }
}